# Miscellaneous
*.class
*.log
*.lock
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat

# PHP / Backend
vendor/
composer.lock
.env
config.php
backend/config.php
*.log
php-error.log

# IDEs
.idea/
*.iml
*.iws
*.ipr
